header {
  background-color: darkblue;
  height: 30vh;
  display: flex;
}
header div {
  color: white;
  font-size: 9vh;
  font-family: "sans-serif";
  height: 8vh;
  margin: 1vh;
  width: 40vw;
}
header p {
  margin: 0;
  height: 7vh;
}

main {
  display: flex;
  background-color: lightgrey;
}
main > div {
  margin: 3vh;
  width: 30vw;
  border: grey solid 2px;
  background-color: white;
}
main img {
  width: 30vw;
}

.cityName, .price, .countryName, .priceDescription {
  margin-left: 1vw;
  margin-right: 1vw;
}

.cityName {
  color: lightblue;
  font-size: 2em;
  text-align: left;
  width: 18vw;
}

.price {
  color: darkgrey;
  font-size: 2em;
  text-align: right;
  width: 8vw;
}

body {
  font-family: "sans-serif";
}

.line {
  display: flex;
}

.countryName {
  color: grey;
  font-size: 1em;
  text-align: left;
  width: 13vw;
}

.priceDescription {
  color: grey;
  font-size: 1em;
  text-align: right;
  width: 13vw;
}

.navbar {
  background-color: white;
  text-align: right;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blinking {
  animation: blinker 0.5s linear infinite;
}

#logo {
  width: 20vw;
}

#logo img {
  height: 25vh;
  width: 20vw;
  transition: height width 1.3s;
}

#logo img:hover {
  transform: rotate(180deg);
  height: 9vh;
  width: 9vw;
}

.navbar button {
  border: none;
  color: black;
  background-color: transparent;
  font-size: 1.5em;
}
